.markdown {
    display: block;
    padding: 20px; /* Padding untuk konten */
    width: 80vw;
    margin: 0 auto; /* Memposisikan konten di tengah */
    border: 2px solid #000; /* Warna dan ketebalan border */
    border-radius: 8px; /* Sudut border */
  }
  
  @media (max-width: 800px) {
    .markdown {
      border: none; /* Menghilangkan border */
      width: 90vw; /* Lebar 90% dari lebar layar */
    }
  }

.iframe-responsive {
    width: 367px;
    height: 207px
}

 @media (max-device-width:480px) {
    .iframe-responsive {
      width: 224px;
      height: 168px;
    }
 }

.footer {
    color: #000000;
    text-align: center;
    padding: 20px;

}
@media (max-width: 800px) {
  .footer {
      font-size: 13px;
  }
}